body {
    background-color: antiquewhite;
}


a:hover,
.card:hover,
.btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.flip {
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 120px;
}

.rotate {
    width: 180px;
    height: 250px;
    position: relative;
    transition: transform 0.6s;
    margin-top: 50px;
    transform-style: preserve-3d;
}

.rotate:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.front {
    background: white;
}

.front img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back {
    background: grey;
    color: white;
    transform: rotateY(180deg);
}

.back a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.books-container {
    padding: 10px;
    animation: backgroundFade 1s infinite alternate;
    margin-top: -15px;
    border: 1px solid black;

}

@keyframes backgroundFade {
    0% {
        background: radial-gradient(ellipse at top, red, blue);
    }

    100% {
        background: radial-gradient(ellipse at bottom, blue, red);
    }
}


.heading {
    background-color: rgb(46, 42, 42);
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
    padding: 10px;
    color: white;
}

.text {
    font-weight: bold;
    font-size: x-large;
}


@media (max-width: 768px) {
    .flip {
        flex-direction: column;
        align-items: center;
    }
}



img, .front, .back{
    border-radius: 10px;
}
